In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
#Load Death Group Data 
Deaths_age_group = pd.read_csv("Resources\Provisional_COVID-19_Death_Counts_by_Sex__Age__and_Week.csv")

In [3]:
Deaths_age_group

,Data as of,State,MMWR Week,End Week,Sex,Age Group,Total Deaths,COVID-19 Deaths
0,05/05/2021,United States,1,01/04/2020,All Sex,All Ages,60162,1
1,05/05/2021,United States,1,01/04/2020,All Sex,Under 1 year,405,0
2,05/05/2021,United States,1,01/04/2020,All Sex,1-4 Years,79,0
3,05/05/2021,United States,1,01/04/2020,All Sex,5-14 Years,99,0
4,05/05/2021,United States,1,01/04/2020,All Sex,15-24 Years,605,0
...,...,...,...,...,...,...,...,...
2515,05/05/2021,United States,17,05/01/2021,Female,45-54 Years,135,16
2516,05/05/2021,United States,17,05/01/2021,Female,55-64 Years,417,40
2517,05/05/2021,United States,17,05/01/2021,Female,65-74 Years,740,70
2518,05/05/2021,United States,17,05/01/2021,Female,75-84 Years,1117,68
2519,05/05/2021,United States,17,05/01/2021,Female,85 Years and Over,1758,84

In [4]:
Deaths_age_group.shape

(2520, 8)

In [5]:
Deaths_age_group.dtypes

Data as of         object
State              object
MMWR Week           int64
End Week           object
Sex                object
Age Group          object
Total Deaths        int64
COVID-19 Deaths     int64
dtype: object

In [6]:
#Dropping row value of Male & Female to only have "All sexs"
Deaths_sex = Deaths_age_group[(Deaths_age_group["Sex"] != 'All Sex')].index

Deaths_age_group.drop(Deaths_sex, inplace =True) 
Deaths_age_group

,Data as of,State,MMWR Week,End Week,Sex,Age Group,Total Deaths,COVID-19 Deaths
0,05/05/2021,United States,1,01/04/2020,All Sex,All Ages,60162,1
1,05/05/2021,United States,1,01/04/2020,All Sex,Under 1 year,405,0
2,05/05/2021,United States,1,01/04/2020,All Sex,1-4 Years,79,0
3,05/05/2021,United States,1,01/04/2020,All Sex,5-14 Years,99,0
4,05/05/2021,United States,1,01/04/2020,All Sex,15-24 Years,605,0
...,...,...,...,...,...,...,...,...
2491,05/05/2021,United States,17,05/01/2021,All Sex,45-54 Years,416,50
2492,05/05/2021,United States,17,05/01/2021,All Sex,55-64 Years,967,117
2493,05/05/2021,United States,17,05/01/2021,All Sex,65-74 Years,1739,161
2494,05/05/2021,United States,17,05/01/2021,All Sex,75-84 Years,2269,170
2495,05/05/2021,United States,17,05/01/2021,All Sex,85 Years and Over,2953,142

In [7]:
#dropping unused column data
Deaths_age_group.drop(columns =["Data as of", "MMWR Week" , "Sex", "State", "Total Deaths"], inplace=True)

In [8]:
Deaths_age_group.head()

     End Week     Age Group  COVID-19 Deaths
0  01/04/2020      All Ages                1
1  01/04/2020  Under 1 year                0
2  01/04/2020     1-4 Years                0
3  01/04/2020    5-14 Years                0
4  01/04/2020   15-24 Years                0

In [9]:
Deaths_age_group.dtypes

End Week           object
Age Group          object
COVID-19 Deaths     int64
dtype: object

In [10]:
#Converting End Week to Week Ending And COVID-19 Deaths to CVD Death
Death_age_week = Deaths_age_group.rename(columns= {'COVID-19 Deaths' : 'CVD Deaths'})

#convert week to datetime
Death_age_week["End Week"] = pd.to_datetime(Death_age_week["End Week"])

In [11]:
Death_age_week

       End Week          Age Group  CVD Deaths
0    2020-01-04           All Ages           1
1    2020-01-04       Under 1 year           0
2    2020-01-04          1-4 Years           0
3    2020-01-04         5-14 Years           0
4    2020-01-04        15-24 Years           0
...         ...                ...         ...
2491 2021-05-01        45-54 Years          50
2492 2021-05-01        55-64 Years         117
2493 2021-05-01        65-74 Years         161
2494 2021-05-01        75-84 Years         170
2495 2021-05-01  85 Years and Over         142

[840 rows x 3 columns]

In [12]:
#finding Max Week Ending
max_week = Death_age_week['End Week'].max()
max_week

Timestamp('2021-05-01 00:00:00')

In [13]:
Death_age_week.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 2495
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   End Week    840 non-null    datetime64[ns]
 1   Age Group   840 non-null    object
 2   CVD Deaths  840 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 26.2+ KB

In [14]:
#removing "," from CVD deaths 
#Death_age_week['CVD Deaths'] = Death_age_week['CVD Deaths'].str.replace(',','')

#obtaining sum's
Death_age_sum = Death_age_week['CVD Deaths'].sum()
Death_age_sum

1123186

In [15]:
Death_age_week.head()

    End Week     Age Group  CVD Deaths
0 2020-01-04      All Ages           1
1 2020-01-04  Under 1 year           0
2 2020-01-04     1-4 Years           0
3 2020-01-04    5-14 Years           0
4 2020-01-04   15-24 Years           0

In [16]:
#Export data 
Death_age_week.to_csv("C:\\Users\\Jon Lau\\Desktop\\Class\\Final-Project\\Jonlau_Dev\\Resources\\Updated_Data_Week.csv", index=False)

In [17]:
#import vaccine data to clean
JNJ_df = pd.read_csv("Resources/Janssen.csv")
MDN_df = pd.read_csv("Resources/Moderna.csv")
PFZ_df = pd.read_csv("Resources/Pfizer.csv")

In [18]:
JNJ_df

         Jurisdiction Week of Allocations  1st Dose Allocations
0         Connecticut          05/10/2021                  6400
1               Maine          05/10/2021                  2500
2       Massachusetts          05/10/2021                 12300
3       New Hampshire          05/10/2021                  2500
4        Rhode Island          05/10/2021                  2000
..                ...                 ...                   ...
499            Alaska          03/01/2021                  8900
500             Idaho          03/01/2021                 13300
501            Oregon          03/01/2021                 34400
502        Washington          03/01/2021                 60900
503  Federal Entities          03/01/2021                139200

[504 rows x 3 columns]

In [19]:
#renaming colums  
JNJ_df = JNJ_df.rename(columns={'1st Dose Allocations': 'Vaccinations Dist.'}) 

#dropping "Jurisdiction ""
JNJ_df = JNJ_df.drop(['Jurisdiction'], axis=1)

In [20]:
JNJ_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Week of Allocations  504 non-null    object
 1   Vaccinations Dist.   504 non-null    int64
dtypes: int64(1), object(1)
memory usage: 8.0+ KB

In [21]:
JNJ_df = JNJ_df.groupby('Week of Allocations').sum('Vaccinations')
JNJ_df.reset_index(inplace=True)
JNJ_df

  Week of Allocations  Vaccinations Dist.
0          03/01/2021             2833400
1          03/15/2021              493700
2          03/22/2021              389900
3          03/29/2021             1911200
4          04/05/2021             4947500
5          04/12/2021              700000
6          05/03/2021              765500
7          05/10/2021              603600

In [22]:
#convert week to datetime
JNJ_df["Week of Allocations"] = pd.to_datetime(JNJ_df["Week of Allocations"])

In [23]:
JNJ_df

  Week of Allocations  Vaccinations Dist.
0          2021-03-01             2833400
1          2021-03-15              493700
2          2021-03-22              389900
3          2021-03-29             1911200
4          2021-04-05             4947500
5          2021-04-12              700000
6          2021-05-03              765500
7          2021-05-10              603600

In [24]:
#Export data 
JNJ_df.to_csv("C:\\Users\\Jon Lau\\Desktop\\Class\\Final-Project\\Jonlau_Dev\\Resources\\JNJ_vax.csv", index=False)

In [25]:
MDN_df

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,05/10/2021,41300,41300
1,Maine,05/10/2021,15800,15800
2,Massachusetts,05/10/2021,79500,79500
3,New Hampshire,05/10/2021,15900,15900
4,Rhode Island,05/10/2021,12400,12400
...,...,...,...,...
1318,Virginia,12/21/2020,146400,146400
1319,Washington,12/21/2020,128000,128000
1320,West Virginia,12/21/2020,32600,32600
1321,Wisconsin,12/21/2020,101000,101000
1322,Wyoming,12/21/2020,10000,10000

In [26]:
#droping 1st dose allocations and "Jurisdiction"
MDN_df = MDN_df.drop(['1st Dose Allocations', 'Jurisdiction'], axis = 1)

#renaming colums  
MDN_df = MDN_df.rename(columns={'2nd Dose Allocations': 'Vaccinations Dist.'})

In [27]:
MDN_df

     Week of Allocations  Vaccinations Dist.
0             05/10/2021               41300
1             05/10/2021               15800
2             05/10/2021               79500
3             05/10/2021               15900
4             05/10/2021               12400
...                  ...                 ...
1318          12/21/2020              146400
1319          12/21/2020              128000
1320          12/21/2020               32600
1321          12/21/2020              101000
1322          12/21/2020               10000

[1323 rows x 2 columns]

In [28]:
MDN_df = MDN_df.groupby('Week of Allocations').sum('Vaccinations')
MDN_df.reset_index(inplace=True)
MDN_df

   Week of Allocations  Vaccinations Dist.
0           01/04/2021             2064400
1           01/11/2021             2047200
2           01/18/2021             2150000
3           01/25/2021             2150300
4           02/01/2021             2881400
5           02/08/2021             3430000
6           02/15/2021             3350000
7           02/22/2021             3350000
8           03/01/2021             3399300
9           03/08/2021             3380000
10          03/15/2021             3329500
11          03/22/2021             3329500
12          03/29/2021             3382000
13          04/05/2021             3472100
14          04/12/2021             3478500
15          04/19/2021             3740100
16          04/26/2021             3751800
17          05/03/2021             3767000
18          05/10/2021             3845800
19          12/21/2020             5948600
20          12/28/2020             2047300

In [29]:
#convert week to datetime
MDN_df["Week of Allocations"] = pd.to_datetime(MDN_df["Week of Allocations"])

In [30]:
MDN_df

   Week of Allocations  Vaccinations Dist.
0           2021-01-04             2064400
1           2021-01-11             2047200
2           2021-01-18             2150000
3           2021-01-25             2150300
4           2021-02-01             2881400
5           2021-02-08             3430000
6           2021-02-15             3350000
7           2021-02-22             3350000
8           2021-03-01             3399300
9           2021-03-08             3380000
10          2021-03-15             3329500
11          2021-03-22             3329500
12          2021-03-29             3382000
13          2021-04-05             3472100
14          2021-04-12             3478500
15          2021-04-19             3740100
16          2021-04-26             3751800
17          2021-05-03             3767000
18          2021-05-10             3845800
19          2020-12-21             5948600
20          2020-12-28             2047300

In [31]:
#Export data 
MDN_df.to_csv("C:\\Users\\Jon Lau\\Desktop\\Class\\Final-Project\\Jonlau_Dev\\Resources\\MDN_vax.csv", index=False)

In [32]:
PFZ_df

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,05/10/2021,54990,54990
1,Maine,05/10/2021,21060,21060
2,Massachusetts,05/10/2021,105300,105300
3,New Hampshire,05/10/2021,21060,21060
4,Rhode Island,05/10/2021,16380,16380
...,...,...,...,...
1381,Virginia,12/14/2020,72150,72150
1382,Washington,12/14/2020,62400,62400
1383,West Virginia,12/14/2020,16575,16575
1384,Wisconsin,12/14/2020,49725,49725
1385,Wyoming,12/14/2020,4875,4875

In [33]:
#droping 1st dose allocations and "Jurisdiction"
PFZ_df = PFZ_df.drop(['1st Dose Allocations', 'Jurisdiction'], axis = 1)

#renaming column  
PFZ_df = PFZ_df.rename(columns={'2nd Dose Allocations': 'Vaccinations Dist.'})

In [34]:
PFZ_df

     Week of Allocations  Vaccinations Dist.
0             05/10/2021               54990
1             05/10/2021               21060
2             05/10/2021              105300
3             05/10/2021               21060
4             05/10/2021               16380
...                  ...                 ...
1381          12/14/2020               72150
1382          12/14/2020               62400
1383          12/14/2020               16575
1384          12/14/2020               49725
1385          12/14/2020                4875

[1386 rows x 2 columns]

In [35]:
PFZ_df = PFZ_df.groupby('Week of Allocations').sum('Vaccinations')
PFZ_df.reset_index(inplace=True)
PFZ_df

   Week of Allocations  Vaccinations Dist.
0           01/04/2021             2092350
1           01/11/2021             2084550
2           01/18/2021             2149875
3           01/25/2021             2149875
4           02/01/2021             2165475
5           02/08/2021             2149875
6           02/15/2021             2149875
7           02/22/2021             3400020
8           03/01/2021             3953430
9           03/08/2021             4262310
10          03/15/2021             4532580
11          03/22/2021             4617990
12          03/29/2021             5700240
13          04/05/2021             4665960
14          04/12/2021             4717440
15          04/19/2021             5053230
16          04/26/2021             5068440
17          05/03/2021             5087160
18          05/10/2021             5084820
19          12/14/2020             2943525
20          12/21/2020             2071875
21          12/28/2020             2643225

In [36]:
#convert week to datetime
PFZ_df["Week of Allocations"] = pd.to_datetime(PFZ_df["Week of Allocations"])

In [37]:
PFZ_df

   Week of Allocations  Vaccinations Dist.
0           2021-01-04             2092350
1           2021-01-11             2084550
2           2021-01-18             2149875
3           2021-01-25             2149875
4           2021-02-01             2165475
5           2021-02-08             2149875
6           2021-02-15             2149875
7           2021-02-22             3400020
8           2021-03-01             3953430
9           2021-03-08             4262310
10          2021-03-15             4532580
11          2021-03-22             4617990
12          2021-03-29             5700240
13          2021-04-05             4665960
14          2021-04-12             4717440
15          2021-04-19             5053230
16          2021-04-26             5068440
17          2021-05-03             5087160
18          2021-05-10             5084820
19          2020-12-14             2943525
20          2020-12-21             2071875
21          2020-12-28             2643225

In [38]:
#Export data 
PFZ_df.to_csv("C:\\Users\\Jon Lau\\Desktop\\Class\\Final-Project\\Jonlau_Dev\\Resources\\PFZ_vax.csv", index=False)

In [39]:
#re-importing clean vaccine data to merge
vaxdb_df = pd.read_csv("Resources/vaxdatabase.csv")

In [40]:
vaxdb_df

   Week of Allocations  Vaccinations Dist.
0             1/4/2021             2092350
1            1/11/2021             2084550
2            1/18/2021             2149875
3            1/25/2021             2149875
4             2/1/2021             2165475
5             2/8/2021             2149875
6            2/15/2021             2149875
7            2/22/2021             3400020
8             3/1/2021             3953430
9             3/8/2021             4262310
10           3/15/2021             4532580
11           3/22/2021             4617990
12           3/29/2021             5700240
13            4/5/2021             4665960
14           4/12/2021             4717440
15           4/19/2021             5053230
16           4/26/2021             5068440
17            5/3/2021             5087160
18           5/10/2021             5084820
19          12/14/2020             2943525
20          12/21/2020             2071875
21          12/28/2020             2643225
22            1/4/2021             2064400
23           1/11/2021             2047200
24           1/18/2021             2150000
25           1/25/2021             2150300
26            2/1/2021             2881400
27            2/8/2021             3430000
28           2/15/2021             3350000
29           2/22/2021             3350000
30            3/1/2021             3399300
31            3/8/2021             3380000
32           3/15/2021             3329500
33           3/22/2021             3329500
34           3/29/2021             3382000
35            4/5/2021             3472100
36           4/12/2021             3478500
37           4/19/2021             3740100
38           4/26/2021             3751800
39            5/3/2021             3767000
40           5/10/2021             3845800
41          12/21/2020             5948600
42          12/28/2020             2047300
43            3/1/2021             2833400
44           3/15/2021              493700
45           3/22/2021              389900
46           3/29/2021             1911200
47            4/5/2021             4947500
48           4/12/2021              700000
49            5/3/2021              765500
50           5/10/2021              603600

In [41]:
#renaming colums  
vaxdb_df = vaxdb_df.rename(columns={'Week of Allocations': 'Week of Dist' , 'Vaccinations Dist.': 'Vax Dist'})

In [42]:
vaxdb_df = vaxdb_df.groupby('Week of Dist').sum('Vax Dist')
vaxdb_df.reset_index(inplace=True)
vaxdb_df

   Week of Dist  Vax Dist
0     1/11/2021   4131750
1     1/18/2021   4299875
2     1/25/2021   4300175
3      1/4/2021   4156750
4    12/14/2020   2943525
5    12/21/2020   8020475
6    12/28/2020   4690525
7      2/1/2021   5046875
8     2/15/2021   5499875
9     2/22/2021   6750020
10     2/8/2021   5579875
11     3/1/2021  10186130
12    3/15/2021   8355780
13    3/22/2021   8337390
14    3/29/2021  10993440
15     3/8/2021   7642310
16    4/12/2021   8895940
17    4/19/2021   8793330
18    4/26/2021   8820240
19     4/5/2021  13085560
20    5/10/2021   9534220
21     5/3/2021   9619660

In [43]:
#Export data 
vaxdb_df.to_csv("C:\\Users\\Jon Lau\\Desktop\\Class\\Final-Project\\Jonlau_Dev\\Resources\\CleanVaxdb.csv", index=False)

In [ ]:
#dropping uneeded Values in Age Group 
index_names = Death_age_week[(Death_age_week['Age Group'] != "15-24 years")
                               & (Death_age_week['Age Group'] != "18-29 years")
                               & (Death_age_week['Age Group'] != "25-34 years")
                               & (Death_age_week['Age Group'] != "30-39 years")
                               & (Death_age_week['Age Group'] != "35-44 years")                               
                               & (Death_age_week['Age Group'] != "40-49 years")
                               & (Death_age_week['Age Group'] != "45-54 years")
                               & (Death_age_week['Age Group'] != "50-64 years")
                               & (Death_age_week['Age Group'] != "55-64 years")
                               & (Death_age_week['Age Group'] != "65-74 years")
                               & (Death_age_week['Age Group'] != "75-84 years")
                               & (Death_age_week['Age Group'] != "85 years and over")
                             ].index 

Death_age_week.drop(index_names, inplace =True)                                 
    
Death_age_week