In [2]:
import pandas as pd 
import os

In [3]:
#Load Death Group Data 
Deaths_age_group = pd.read_csv("Resources\Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv")

C:\Users\Jon Lau\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
Deaths_age_group

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,All Ages,"551,728","4,290,029","478,500","269,413","9,071","768,630",NaN
1,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,Under 1 year,63,"23,446",252,9,21,327,NaN
2,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,0-17 years,266,"41,069",685,49,179,"1,081",NaN
3,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,1-4 years,31,"4,212",141,5,61,228,NaN
4,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,5-14 years,96,"6,824",199,20,76,351,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52321,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,50-64 years,NaN,NaN,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52322,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,55-64 years,NaN,NaN,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52323,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,65-74 years,NaN,10,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52324,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,75-84 years,NaN,14,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52325,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,85 years and over,NaN,13,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...

In [5]:
Deaths_age_group.shape

(52326, 16)

In [6]:
Deaths_age_group.dtypes

Data As Of                                   object
Start Date                                   object
End Date                                     object
Group                                        object
Year                                        float64
Month                                       float64
State                                        object
Sex                                          object
Age Group                                    object
COVID-19 Deaths                              object
Total Deaths                                 object
Pneumonia Deaths                             object
Pneumonia and COVID-19 Deaths                object
Influenza Deaths                             object
Pneumonia, Influenza, or COVID-19 Deaths     object
Footnote                                     object
dtype: object

In [7]:
#dropping unused column data
Deaths_age_group.drop(columns =["Data As Of", "Month","End Date","Pneumonia Deaths","Influenza Deaths","Footnote","Sex","Year","Group"], inplace=True)

In [8]:
Deaths_age_group

,Start Date,State,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia and COVID-19 Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,01/01/2020,United States,All Ages,"551,728","4,290,029","269,413","768,630"
1,01/01/2020,United States,Under 1 year,63,"23,446",9,327
2,01/01/2020,United States,0-17 years,266,"41,069",49,"1,081"
3,01/01/2020,United States,1-4 years,31,"4,212",5,228
4,01/01/2020,United States,5-14 years,96,"6,824",20,351
...,...,...,...,...,...,...,...
52321,04/01/2021,Puerto Rico,50-64 years,NaN,NaN,NaN,NaN
52322,04/01/2021,Puerto Rico,55-64 years,NaN,NaN,NaN,NaN
52323,04/01/2021,Puerto Rico,65-74 years,NaN,10,NaN,NaN
52324,04/01/2021,Puerto Rico,75-84 years,NaN,14,NaN,NaN
52325,04/01/2021,Puerto Rico,85 years and over,NaN,13,NaN,NaN

In [9]:
Deaths_age_group.dtypes

Start Date                                  object
State                                       object
Age Group                                   object
COVID-19 Deaths                             object
Total Deaths                                object
Pneumonia and COVID-19 Deaths               object
Pneumonia, Influenza, or COVID-19 Deaths    object
dtype: object

In [10]:
#load Death Weekly Data
Death_age_week = pd.read_csv("Resources\Provisional_COVID-19_Death_Counts_by_Sex__Age__and_Week.csv")

In [11]:
Death_age_week

,Data as of,State,MMWR Week,End Week,Sex,Age Group,Total Deaths,COVID-19 Deaths
0,04/21/2021,United States,1,01/04/2020,All Sex,All Ages,"60,154",0
1,04/21/2021,United States,1,01/04/2020,All Sex,Under 1 year,405,0
2,04/21/2021,United States,1,01/04/2020,All Sex,1-4 Years,79,0
3,04/21/2021,United States,1,01/04/2020,All Sex,5-14 Years,99,0
4,04/21/2021,United States,1,01/04/2020,All Sex,15-24 Years,605,0
...,...,...,...,...,...,...,...,...
2443,04/21/2021,United States,15,04/17/2021,Female,45-54 Years,220,27
2444,04/21/2021,United States,15,04/17/2021,Female,55-64 Years,593,65
2445,04/21/2021,United States,15,04/17/2021,Female,65-74 Years,"1,152",112
2446,04/21/2021,United States,15,04/17/2021,Female,75-84 Years,"1,731",135
2447,04/21/2021,United States,15,04/17/2021,Female,85 Years and Over,"2,644",122

In [12]:
Death_age_week.dtypes

Data as of         object
State              object
MMWR Week           int64
End Week           object
Sex                object
Age Group          object
Total Deaths       object
COVID-19 Deaths    object
dtype: object

In [13]:
#dropping unused column data
Death_age_week.drop(columns =["Data as of", "MMWR Week" , "Sex" ], inplace=True)

In [14]:
Death_age_week

,State,End Week,Age Group,Total Deaths,COVID-19 Deaths
0,United States,01/04/2020,All Ages,"60,154",0
1,United States,01/04/2020,Under 1 year,405,0
2,United States,01/04/2020,1-4 Years,79,0
3,United States,01/04/2020,5-14 Years,99,0
4,United States,01/04/2020,15-24 Years,605,0
...,...,...,...,...,...
2443,United States,04/17/2021,45-54 Years,220,27
2444,United States,04/17/2021,55-64 Years,593,65
2445,United States,04/17/2021,65-74 Years,"1,152",112
2446,United States,04/17/2021,75-84 Years,"1,731",135
2447,United States,04/17/2021,85 Years and Over,"2,644",122

'C:\\Users\\Jon Lau\\Desktop\\Class\\Final-Project\\Jonlau_Dev'