In [1]:
import pandas as pd 
import os

In [2]:
#Load Death Group Data 
Deaths_age_group = pd.read_csv("Resources\Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv")

C:\Users\Jon Lau\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Deaths_age_group

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,All Ages,"551,728","4,290,029","478,500","269,413","9,071","768,630",NaN
1,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,Under 1 year,63,"23,446",252,9,21,327,NaN
2,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,0-17 years,266,"41,069",685,49,179,"1,081",NaN
3,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,1-4 years,31,"4,212",141,5,61,228,NaN
4,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,5-14 years,96,"6,824",199,20,76,351,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52321,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,50-64 years,NaN,NaN,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52322,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,55-64 years,NaN,NaN,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52323,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,65-74 years,NaN,10,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52324,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,75-84 years,NaN,14,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52325,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,85 years and over,NaN,13,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...

In [4]:
Deaths_age_group.shape

(52326, 16)

In [5]:
Deaths_age_group.dtypes

Data As Of                                   object
Start Date                                   object
End Date                                     object
Group                                        object
Year                                        float64
Month                                       float64
State                                        object
Sex                                          object
Age Group                                    object
COVID-19 Deaths                              object
Total Deaths                                 object
Pneumonia Deaths                             object
Pneumonia and COVID-19 Deaths                object
Influenza Deaths                             object
Pneumonia, Influenza, or COVID-19 Deaths     object
Footnote                                     object
dtype: object

In [6]:
#dropping unused column data
Deaths_age_group.drop(columns =["Data As Of", "Month","Pneumonia Deaths","Influenza Deaths","Footnote","Sex","Year","Group", "Pneumonia, Influenza, or COVID-19 Deaths", "Pneumonia and COVID-19 Deaths", "State"], inplace=True)

In [7]:
Deaths_age_group

       Start Date    End Date          Age Group COVID-19 Deaths Total Deaths
0      01/01/2020  04/17/2021           All Ages         551,728    4,290,029
1      01/01/2020  04/17/2021       Under 1 year              63       23,446
2      01/01/2020  04/17/2021         0-17 years             266       41,069
3      01/01/2020  04/17/2021          1-4 years              31        4,212
4      01/01/2020  04/17/2021         5-14 years              96        6,824
...           ...         ...                ...             ...          ...
52321  04/01/2021  04/17/2021        50-64 years             NaN          NaN
52322  04/01/2021  04/17/2021        55-64 years             NaN          NaN
52323  04/01/2021  04/17/2021        65-74 years             NaN           10
52324  04/01/2021  04/17/2021        75-84 years             NaN           14
52325  04/01/2021  04/17/2021  85 years and over             NaN           13

[52326 rows x 5 columns]

In [8]:
#form New Age data
groups = { 
    "Newborn-Young Adolescent": ["Under 1 year", "1-4 years", "0-17 years"],
    "Teenager-Young Adults": ["5-14years", "15-24 years", "18-29 years"],
    "Middle-Aged Adults": ["25-34 years", "30-39 years", "35-44 years"],
    "Older Adults": ["40-49 years", "45-54 years", "50-64 years"],
    "Seniors": ["55-64 years", "65-74 years", "85 years and over"]
    }

In [9]:
#applying Age Groups to data   
Deaths_age_group["New Age"] = (
    Deaths_age_group["Age Group"]
    .apply(lambda x:[a for a in groups.keys() if x in groups[a]])
    .str[0]
    .fillna("Other")
)

#combine data 
new_age_group = Deaths_age_group.groupby(["New Age", "Start Date","End Date", "COVID-19 Deaths", "Total Deaths"]).sum()
#new_age_group.drop(columns =("Age Group"), axis=1)
#del new_age_group[("Age Group"), axis=1]
print(new_age_group) 
#new_age_group.head()

                                                                                                                  Age Group
New Age               Start Date End Date   COVID-19 Deaths Total Deaths
Middle-Aged Adults    01/01/2020 01/31/2020 0               1,582                                               25-34 years
                                                            10            35-44 years25-34 years30-39 years35-44 years25...
                                                            100           35-44 years25-34 years25-34 years25-34 years30...
                                                            101                                                 25-34 years
                                                            102                                                 35-44 years
...                                                                                                                     ...
Teenager-Young Adults 12/01/2020 12/31/2020 36              740                                                 15-24 years
                                            44              485                                                 18-29 years
                                            60              657                                                 18-29 years
                                            76              2,231                                               15-24 years
                                            97              1,412                                               18-29 years

[25305 rows x 1 columns]

In [10]:
Deaths_age_group.dtypes

Start Date         object
End Date           object
Age Group          object
COVID-19 Deaths    object
Total Deaths       object
New Age            object
dtype: object

In [11]:
#load Death Weekly Data
Death_age_week = pd.read_csv("Resources\Provisional_COVID-19_Death_Counts_by_Sex__Age__and_Week.csv")

In [12]:
Death_age_week

,Data as of,State,MMWR Week,End Week,Sex,Age Group,Total Deaths,COVID-19 Deaths
0,04/21/2021,United States,1,01/04/2020,All Sex,All Ages,"60,154",0
1,04/21/2021,United States,1,01/04/2020,All Sex,Under 1 year,405,0
2,04/21/2021,United States,1,01/04/2020,All Sex,1-4 Years,79,0
3,04/21/2021,United States,1,01/04/2020,All Sex,5-14 Years,99,0
4,04/21/2021,United States,1,01/04/2020,All Sex,15-24 Years,605,0
...,...,...,...,...,...,...,...,...
2443,04/21/2021,United States,15,04/17/2021,Female,45-54 Years,220,27
2444,04/21/2021,United States,15,04/17/2021,Female,55-64 Years,593,65
2445,04/21/2021,United States,15,04/17/2021,Female,65-74 Years,"1,152",112
2446,04/21/2021,United States,15,04/17/2021,Female,75-84 Years,"1,731",135
2447,04/21/2021,United States,15,04/17/2021,Female,85 Years and Over,"2,644",122

In [13]:
Death_age_week.dtypes

Data as of         object
State              object
MMWR Week           int64
End Week           object
Sex                object
Age Group          object
Total Deaths       object
COVID-19 Deaths    object
dtype: object

In [14]:
#dropping unused column data
Death_age_week.drop(columns =["Data as of", "MMWR Week" , "Sex", "State" ], inplace=True)

In [15]:
Death_age_week

        End Week          Age Group Total Deaths COVID-19 Deaths
0     01/04/2020           All Ages       60,154               0
1     01/04/2020       Under 1 year          405               0
2     01/04/2020          1-4 Years           79               0
3     01/04/2020         5-14 Years           99               0
4     01/04/2020        15-24 Years          605               0
...          ...                ...          ...             ...
2443  04/17/2021        45-54 Years          220              27
2444  04/17/2021        55-64 Years          593              65
2445  04/17/2021        65-74 Years        1,152             112
2446  04/17/2021        75-84 Years        1,731             135
2447  04/17/2021  85 Years and Over        2,644             122

[2448 rows x 4 columns]

In [18]:
#applying Age Groups to week data    
Death_age_week["New Age"] = (
    Death_age_week["Age Group"]
    .apply(lambda x:[a for a in groups.keys() if x in groups[a]])
    .str[0]
)

#combine data 
new_age_week = Death_age_week.groupby(["New Age", "End Week", "COVID-19 Deaths", "Total Deaths"]).sum()
new_age_week.reset_index()
print(new_age_week)
#new_age_week.head()

                                                                     Age Group
New Age                  End Week   COVID-19 Deaths Total Deaths
Newborn-Young Adolescent 01/02/2021 2               206           Under 1 year
                                    3               146           Under 1 year
                                    5               352           Under 1 year
                         01/04/2020 0               190           Under 1 year
                                                    215           Under 1 year
...                                                                        ...
                         12/19/2020 1               180           Under 1 year
                                                    330           Under 1 year
                         12/26/2020 1               125           Under 1 year
                                    2               192           Under 1 year
                                    3               317           Under 1 year

[204 rows x 1 columns]

In [19]:
#import Vaccine Data
Pfz_ds = pd.read_csv("Resources\COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Pfizer.csv")
MDN_ds = pd.read_csv("Resources\COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Moderna.csv")
JnJ_ds = pd.read_csv("Resources\COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Janssen.csv")

In [20]:
Pfz_ds

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,04/26/2021,54990,54990
1,Maine,04/26/2021,21060,21060
2,Massachusetts,04/26/2021,105300,105300
3,New Hampshire,04/26/2021,21060,21060
4,Rhode Island,04/26/2021,16380,16380
...,...,...,...,...
1255,Virginia,12/14/2020,72150,72150
1256,Washington,12/14/2020,62400,62400
1257,West Virginia,12/14/2020,16575,16575
1258,Wisconsin,12/14/2020,49725,49725
1259,Wyoming,12/14/2020,4875,4875

In [21]:
MDN_ds

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,04/26/2021,40400,40400
1,Maine,04/26/2021,15400,15400
2,Massachusetts,04/26/2021,77700,77700
3,New Hampshire,04/26/2021,15500,15500
4,Rhode Island,04/26/2021,12100,12100
...,...,...,...,...
1192,Virginia,12/21/2020,146400,146400
1193,Washington,12/21/2020,128000,128000
1194,West Virginia,12/21/2020,32600,32600
1195,Wisconsin,12/21/2020,101000,101000
1196,Wyoming,12/21/2020,10000,10000

In [22]:
JnJ_ds

         Jurisdiction Week of Allocations 1st Dose Allocations
0         Connecticut          04/12/2021                6,400
1               Maine          04/12/2021                2,500
2       Massachusetts          04/12/2021               12,300
3       New Hampshire          04/12/2021                2,500
4        Rhode Island          04/12/2021                2,000
..                ...                 ...                  ...
373            Alaska          03/01/2021                8,900
374             Idaho          03/01/2021               13,300
375            Oregon          03/01/2021               34,400
376        Washington          03/01/2021               60,900
377  Federal Entities          03/01/2021              139,200

[378 rows x 3 columns]