In [1]:
import pandas as pd 
import os
import numpy as np

In [2]:
#Load Death Group Data 
Deaths_age_group = pd.read_csv("Resources\Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv")

C:\Users\Jon Lau\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Deaths_age_group

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,All Ages,"551,728","4,290,029","478,500","269,413","9,071","768,630",NaN
1,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,Under 1 year,63,"23,446",252,9,21,327,NaN
2,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,0-17 years,266,"41,069",685,49,179,"1,081",NaN
3,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,1-4 years,31,"4,212",141,5,61,228,NaN
4,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,5-14 years,96,"6,824",199,20,76,351,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52321,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,50-64 years,NaN,NaN,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52322,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,55-64 years,NaN,NaN,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52323,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,65-74 years,NaN,10,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52324,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,75-84 years,NaN,14,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52325,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,85 years and over,NaN,13,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...

In [4]:
Deaths_age_group.shape

(52326, 16)

In [5]:
Deaths_age_group.dtypes

Data As Of                                   object
Start Date                                   object
End Date                                     object
Group                                        object
Year                                        float64
Month                                       float64
State                                        object
Sex                                          object
Age Group                                    object
COVID-19 Deaths                              object
Total Deaths                                 object
Pneumonia Deaths                             object
Pneumonia and COVID-19 Deaths                object
Influenza Deaths                             object
Pneumonia, Influenza, or COVID-19 Deaths     object
Footnote                                     object
dtype: object

In [6]:
#dropping unused column data
Deaths_age_group.drop(columns =["Data As Of" ,"Start Date","Pneumonia Deaths","Influenza Deaths","Footnote","Sex","End Date","Group", "Pneumonia, Influenza, or COVID-19 Deaths", "Pneumonia and COVID-19 Deaths", "State", "Total Deaths"], inplace=True)

In [7]:
Deaths_age_group.head()

   Year  Month     Age Group COVID-19 Deaths
0   NaN    NaN      All Ages         551,728
1   NaN    NaN  Under 1 year              63
2   NaN    NaN    0-17 years             266
3   NaN    NaN     1-4 years              31
4   NaN    NaN    5-14 years              96

In [8]:
Deaths_age_group.dtypes

Year               float64
Month              float64
Age Group           object
COVID-19 Deaths     object
dtype: object

In [9]:
#dropping uneeded Values in Age Group 
index_names = Deaths_age_group[(Deaths_age_group['Age Group'] != "15-24 years")
                               & (Deaths_age_group['Age Group'] != "18-29 years")
                               & (Deaths_age_group['Age Group'] != "25-34 years")
                               & (Deaths_age_group['Age Group'] != "30-39 years")
                               & (Deaths_age_group['Age Group'] != "35-44 years")                               
                               & (Deaths_age_group['Age Group'] != "40-49 years")
                               & (Deaths_age_group['Age Group'] != "45-54 years")
                               & (Deaths_age_group['Age Group'] != "50-64 years")
                               & (Deaths_age_group['Age Group'] != "55-64 years")
                               & (Deaths_age_group['Age Group'] != "65-74 years")
                               & (Deaths_age_group['Age Group'] != "75-84 years")
                               & (Deaths_age_group['Age Group'] != "85 years and over")
                             ].index
                 
Deaths_age_group.drop(index_names, inplace =True)          
                                 
Deaths_age_group

         Year  Month          Age Group COVID-19 Deaths
5         NaN    NaN        15-24 years             829
6         NaN    NaN        18-29 years           2,063
7         NaN    NaN        25-34 years           3,667
8         NaN    NaN        30-39 years           5,976
9         NaN    NaN        35-44 years           9,539
...       ...    ...                ...             ...
52321  2021.0    4.0        50-64 years             NaN
52322  2021.0    4.0        55-64 years             NaN
52323  2021.0    4.0        65-74 years             NaN
52324  2021.0    4.0        75-84 years             NaN
52325  2021.0    4.0  85 years and over             NaN

[36936 rows x 4 columns]

In [10]:
Deaths_age_group

         Year  Month          Age Group COVID-19 Deaths
5         NaN    NaN        15-24 years             829
6         NaN    NaN        18-29 years           2,063
7         NaN    NaN        25-34 years           3,667
8         NaN    NaN        30-39 years           5,976
9         NaN    NaN        35-44 years           9,539
...       ...    ...                ...             ...
52321  2021.0    4.0        50-64 years             NaN
52322  2021.0    4.0        55-64 years             NaN
52323  2021.0    4.0        65-74 years             NaN
52324  2021.0    4.0        75-84 years             NaN
52325  2021.0    4.0  85 years and over             NaN

[36936 rows x 4 columns]

In [11]:
# dropping the rows having NaN values
Deaths_age_group = Deaths_age_group.dropna()
  
# To reset the index's 
Deaths_age_group = Deaths_age_group.reset_index(drop = True)
  
# Print the dataframe
Deaths_age_group

         Year  Month    Age Group COVID-19 Deaths
0      2020.0    1.0  15-24 years               0
1      2020.0    1.0  18-29 years               0
2      2020.0    1.0  25-34 years               0
3      2020.0    1.0  30-39 years               0
4      2020.0    1.0  35-44 years               0
...       ...    ...          ...             ...
21341  2021.0    4.0  18-29 years               0
21342  2021.0    4.0  25-34 years               0
21343  2021.0    4.0  30-39 years               0
21344  2021.0    4.0  35-44 years               0
21345  2021.0    4.0  40-49 years               0

[21346 rows x 4 columns]

In [12]:
print(Deaths_age_group.Month)

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
21341    4.0
21342    4.0
21343    4.0
21344    4.0
21345    4.0
Name: Month, Length: 21346, dtype: float64

In [13]:
Deaths_age_group.dtypes

#Converting Month & Year into a int 
Deaths_age_group['Month'] = Deaths_age_group['Month'].apply(np.int64)
Deaths_age_group['Year'] = Deaths_age_group['Year'].apply(np.int64)

In [14]:
print(Deaths_age_group.Month)
print(Deaths_age_group.Year)

0        1
1        1
2        1
3        1
4        1
        ..
21341    4
21342    4
21343    4
21344    4
21345    4
Name: Month, Length: 21346, dtype: int64
0        2020
1        2020
2        2020
3        2020
4        2020
         ...
21341    2021
21342    2021
21343    2021
21344    2021
21345    2021
Name: Year, Length: 21346, dtype: int64

In [15]:
#Converting newly formed Int to a String 
Deaths_age_group['Month'] = Deaths_age_group['Month'].astype(str)
Deaths_age_group['Year'] = Deaths_age_group['Year'].astype(str)
print(Deaths_age_group.Month)
print(Deaths_age_group.Year)

0        1
1        1
2        1
3        1
4        1
        ..
21341    4
21342    4
21343    4
21344    4
21345    4
Name: Month, Length: 21346, dtype: object
0        2020
1        2020
2        2020
3        2020
4        2020
         ...
21341    2021
21342    2021
21343    2021
21344    2021
21345    2021
Name: Year, Length: 21346, dtype: object

In [16]:
#changing Value of Month # to Month Name
Deaths_age_group['Month'].replace({'1': 'Jan', '2': 'Feb','3': 'Mar', '4': 'Apr', '5': 'May', '6': 'June', '7': 'July', '8': 'Aug', '9': 'Sept', '10': 'Oct', '11': 'Nov', '12': 'Dec'}, inplace=True)

Deaths_age_group

       Year Month    Age Group COVID-19 Deaths
0      2020   Jan  15-24 years               0
1      2020   Jan  18-29 years               0
2      2020   Jan  25-34 years               0
3      2020   Jan  30-39 years               0
4      2020   Jan  35-44 years               0
...     ...   ...          ...             ...
21341  2021   Apr  18-29 years               0
21342  2021   Apr  25-34 years               0
21343  2021   Apr  30-39 years               0
21344  2021   Apr  35-44 years               0
21345  2021   Apr  40-49 years               0

[21346 rows x 4 columns]

In [17]:
Deaths_age_group.head()

   Year Month    Age Group COVID-19 Deaths
0  2020   Jan  15-24 years               0
1  2020   Jan  18-29 years               0
2  2020   Jan  25-34 years               0
3  2020   Jan  30-39 years               0
4  2020   Jan  35-44 years               0

In [18]:
Deaths_age_group.dtypes

Year               object
Month              object
Age Group          object
COVID-19 Deaths    object
dtype: object

In [19]:
#combining month and year into 1 column 
#Deaths_age_group["Date"] = Deaths_age_group["Month"].astype(str) + Deaths_age_group["Year"]

Deaths_age_group['Date'] = [', '.join(str(x) for x in y) for y in map(tuple, Deaths_age_group[['Month', 'Year']].values)]

#dropping Month and Year 
Deaths_age_group.drop(columns =["Year", "Month"], inplace=True)

Deaths_age_group

         Age Group COVID-19 Deaths       Date
0      15-24 years               0  Jan, 2020
1      18-29 years               0  Jan, 2020
2      25-34 years               0  Jan, 2020
3      30-39 years               0  Jan, 2020
4      35-44 years               0  Jan, 2020
...            ...             ...        ...
21341  18-29 years               0  Apr, 2021
21342  25-34 years               0  Apr, 2021
21343  30-39 years               0  Apr, 2021
21344  35-44 years               0  Apr, 2021
21345  40-49 years               0  Apr, 2021

[21346 rows x 3 columns]

In [20]:
Deaths_age_group.head()

     Age Group COVID-19 Deaths       Date
0  15-24 years               0  Jan, 2020
1  18-29 years               0  Jan, 2020
2  25-34 years               0  Jan, 2020
3  30-39 years               0  Jan, 2020
4  35-44 years               0  Jan, 2020

In [21]:
Deaths_age_month = Deaths_age_group[['Date', 'Age Group','COVID-19 Deaths']]

In [22]:
Deaths_age_month

            Date    Age Group COVID-19 Deaths
0      Jan, 2020  15-24 years               0
1      Jan, 2020  18-29 years               0
2      Jan, 2020  25-34 years               0
3      Jan, 2020  30-39 years               0
4      Jan, 2020  35-44 years               0
...          ...          ...             ...
21341  Apr, 2021  18-29 years               0
21342  Apr, 2021  25-34 years               0
21343  Apr, 2021  30-39 years               0
21344  Apr, 2021  35-44 years               0
21345  Apr, 2021  40-49 years               0

[21346 rows x 3 columns]

In [23]:
#Seting Date as index 
Deaths_age_month.set_index('Date', inplace=True)

#Deaths_age_month = Deaths_age_month.loc[]

In [24]:
Deaths_age_month

             Age Group COVID-19 Deaths
Date
Jan, 2020  15-24 years               0
Jan, 2020  18-29 years               0
Jan, 2020  25-34 years               0
Jan, 2020  30-39 years               0
Jan, 2020  35-44 years               0
...                ...             ...
Apr, 2021  18-29 years               0
Apr, 2021  25-34 years               0
Apr, 2021  30-39 years               0
Apr, 2021  35-44 years               0
Apr, 2021  40-49 years               0

[21346 rows x 2 columns]

In [25]:
Deaths_age_month.tail()

             Age Group COVID-19 Deaths
Date
Apr, 2021  18-29 years               0
Apr, 2021  25-34 years               0
Apr, 2021  30-39 years               0
Apr, 2021  35-44 years               0
Apr, 2021  40-49 years               0

In [26]:
#Export data 
Deaths_age_month.to_csv("C:\\Users\\Jon Lau\\Desktop\\Class\\Final-Project\\Jonlau_Dev\\Resources\\Updated_Data.csv")

In [ ]:
#form New Age Groups
groups = {
    "Young Adults": ["15-24 years", "18-29 years", "25-34 years"],
    "Middle-Aged Adults": ["30-39 years", "35-44 years", "40-49 years"],
    "Older Adults": ["45-54 years", "50-64 years", "55-64 years"],
    "Seniors": ["65-74 years", "75-84 years", "85 years and over"]}

In [ ]:
#dropping Age Group 
Deaths_age_group.drop(columns =["Age Group"], inplace=True)

In [ ]:
new_age_group

In [27]:
#load Death Weekly Data
Death_age_week = pd.read_csv("Resources\Provisional_COVID-19_Death_Counts_by_Sex__Age__and_Week.csv")

In [28]:
Death_age_week

,Data as of,State,MMWR Week,End Week,Sex,Age Group,Total Deaths,COVID-19 Deaths
0,04/21/2021,United States,1,01/04/2020,All Sex,All Ages,"60,154",0
1,04/21/2021,United States,1,01/04/2020,All Sex,Under 1 year,405,0
2,04/21/2021,United States,1,01/04/2020,All Sex,1-4 Years,79,0
3,04/21/2021,United States,1,01/04/2020,All Sex,5-14 Years,99,0
4,04/21/2021,United States,1,01/04/2020,All Sex,15-24 Years,605,0
...,...,...,...,...,...,...,...,...
2443,04/21/2021,United States,15,04/17/2021,Female,45-54 Years,220,27
2444,04/21/2021,United States,15,04/17/2021,Female,55-64 Years,593,65
2445,04/21/2021,United States,15,04/17/2021,Female,65-74 Years,"1,152",112
2446,04/21/2021,United States,15,04/17/2021,Female,75-84 Years,"1,731",135
2447,04/21/2021,United States,15,04/17/2021,Female,85 Years and Over,"2,644",122

In [29]:
#dropping unused column data
Death_age_week.drop(columns =["Data as of", "MMWR Week" , "Sex", "State", "Total Deaths"], inplace=True)

Death_age_week

        End Week          Age Group COVID-19 Deaths
0     01/04/2020           All Ages               0
1     01/04/2020       Under 1 year               0
2     01/04/2020          1-4 Years               0
3     01/04/2020         5-14 Years               0
4     01/04/2020        15-24 Years               0
...          ...                ...             ...
2443  04/17/2021        45-54 Years              27
2444  04/17/2021        55-64 Years              65
2445  04/17/2021        65-74 Years             112
2446  04/17/2021        75-84 Years             135
2447  04/17/2021  85 Years and Over             122

[2448 rows x 3 columns]

In [33]:
#dropping uneeded Values in Age Group 
#index_names = Death_age_week[(Death_age_week['Age Group'] != "15-24 years")
                               & (Death_age_week['Age Group'] != "18-29 years")
                               & (Death_age_week['Age Group'] != "25-34 years")
                               & (Death_age_week['Age Group'] != "30-39 years")
                               & (Death_age_week['Age Group'] != "35-44 years")                               
                               & (Death_age_week['Age Group'] != "40-49 years")
                               & (Death_age_week['Age Group'] != "45-54 years")
                               & (Death_age_week['Age Group'] != "50-64 years")
                               & (Death_age_week['Age Group'] != "55-64 years")
                               & (Death_age_week['Age Group'] != "65-74 years")
                               & (Death_age_week['Age Group'] != "75-84 years")
                               & (Death_age_week['Age Group'] != "85 years and over")
                            # ].index
                 
#Death_age_week.drop(index_names, inplace =False)

IndentationError: unexpected indent (<ipython-input-33-9163e41bc6fc>, line 3)

In [34]:
Death_age_week

        End Week          Age Group COVID-19 Deaths
0     01/04/2020           All Ages               0
1     01/04/2020       Under 1 year               0
2     01/04/2020          1-4 Years               0
3     01/04/2020         5-14 Years               0
4     01/04/2020        15-24 Years               0
...          ...                ...             ...
2443  04/17/2021        45-54 Years              27
2444  04/17/2021        55-64 Years              65
2445  04/17/2021        65-74 Years             112
2446  04/17/2021        75-84 Years             135
2447  04/17/2021  85 Years and Over             122

[2448 rows x 3 columns]

In [35]:
#form New Age Groups
#groups = {
    "Young Adults": ["15-24 years", "18-29 years", "25-34 years"],
    "Middle-Aged Adults": ["30-39 years", "35-44 years", "40-49 years"],
    "Older Adults": ["45-54 years", "50-64 years", "55-64 years"],
    "Seniors": ["65-74 years", "75-84 years", "85 years and over"]}

IndentationError: unexpected indent (<ipython-input-35-2e54a5f933d2>, line 3)

In [38]:
#Converting End Week to Week Ending
Death_age_week = Death_age_week.rename(columns= {'End Week' : 'Week Ending'})

Death_age_week

     Week Ending          Age Group COVID-19 Deaths
0     01/04/2020           All Ages               0
1     01/04/2020       Under 1 year               0
2     01/04/2020          1-4 Years               0
3     01/04/2020         5-14 Years               0
4     01/04/2020        15-24 Years               0
...          ...                ...             ...
2443  04/17/2021        45-54 Years              27
2444  04/17/2021        55-64 Years              65
2445  04/17/2021        65-74 Years             112
2446  04/17/2021        75-84 Years             135
2447  04/17/2021  85 Years and Over             122

[2448 rows x 3 columns]

In [39]:
#finding Max Week Ending
max_week = Death_age_week['Week Ending'].max()
max_week

'12/26/2020'

In [40]:
#organizing Max Week Ending

Death_age_week['Week Ending'] = pd.to_datetime(Death_age_week['Week Ending'])
Death_age_week.head()

#convert 'Week Ending' back to month date year
Death_age_week['Week Ending'] = Death_age_week['Week Ending'].dt.strftime('%y/%m/%d')

In [41]:
max_week = Death_age_week['Week Ending'].max()
max_week

'21/04/17'

In [42]:
Death_age_week.head

<bound method NDFrame.head of      Week Ending          Age Group COVID-19 Deaths
0       20/01/04           All Ages               0
1       20/01/04       Under 1 year               0
2       20/01/04          1-4 Years               0
3       20/01/04         5-14 Years               0
4       20/01/04        15-24 Years               0
...          ...                ...             ...
2443    21/04/17        45-54 Years              27
2444    21/04/17        55-64 Years              65
2445    21/04/17        65-74 Years             112
2446    21/04/17        75-84 Years             135
2447    21/04/17  85 Years and Over             122

[2448 rows x 3 columns]>

In [43]:
#Seting Week Ending as index 
Death_age_week.set_index('Week Ending', inplace=True)

In [44]:
Death_age_week

                     Age Group COVID-19 Deaths
Week Ending
20/01/04              All Ages               0
20/01/04          Under 1 year               0
20/01/04             1-4 Years               0
20/01/04            5-14 Years               0
20/01/04           15-24 Years               0
...                        ...             ...
21/04/17           45-54 Years              27
21/04/17           55-64 Years              65
21/04/17           65-74 Years             112
21/04/17           75-84 Years             135
21/04/17     85 Years and Over             122

[2448 rows x 2 columns]

In [45]:
#Export data 
Death_age_week.to_csv("C:\\Users\\Jon Lau\\Desktop\\Class\\Final-Project\\Jonlau_Dev\\Resources\\Updated_Data_Week.csv")