In [2]:
import pandas as pd
import numpy as np

In [3]:
#import the covid deaths csv
deaths_df = pd.read_csv('deaths.csv')
list(deaths_df.columns)

/Users/justinobrien/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['Data As Of',
 'Start Date',
 'End Date',
 'Group',
 'Year',
 'Month',
 'State',
 'Sex',
 'Age Group',
 'COVID-19 Deaths',
 'Total Deaths',
 'Pneumonia Deaths',
 'Pneumonia and COVID-19 Deaths',
 'Influenza Deaths',
 'Pneumonia, Influenza, or COVID-19 Deaths',
 'Footnote']

In [4]:
deaths_df = deaths_df.drop(['Sex','Total Deaths', 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths','Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths','Footnote', 'Age Group', 'Year', 'Month'], axis=1)

In [5]:
deaths_df = deaths_df.loc[(deaths_df['State'] != 'United States')]
deaths_df.head()

    Data As Of  Start Date    End Date     Group    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0

In [6]:
deaths_df = deaths_df.drop(['Group'], axis = 1)
deaths_df.head()

    Data As Of  Start Date    End Date    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  Alabama               0

In [7]:
deaths_df = deaths_df.drop(['Data As Of'], axis=1)

In [8]:
deaths_df.to_csv('state_deaths.csv')

In [14]:
deaths_df = deaths_df.dropna()
deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38912 entries, 51 to 52319
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Start Date       38912 non-null  object
 1   End Date         38912 non-null  object
 2   State            38912 non-null  object
 3   COVID-19 Deaths  38912 non-null  object
dtypes: object(4)
memory usage: 1.5+ MB

In [18]:
deaths_df[['Start Date','End Date']] = deaths_df[['Start Date', 'End Date']].apply(pd.to_datetime)

In [25]:
deaths_df['COVID-19 Deaths'] = pd.to_numeric(deaths_df['COVID-19 Deaths'], errors = 'coerce')

In [26]:
deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38912 entries, 51 to 52319
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Start Date       38912 non-null  datetime64[ns]
 1   End Date         38912 non-null  datetime64[ns]
 2   State            38912 non-null  object
 3   COVID-19 Deaths  37437 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 1.5+ MB

In [27]:
deaths_df['End Date'].value_counts()

2021-04-17    6074
2020-12-31    4157
2020-01-31    2685
2020-02-29    2636
2021-01-31    2029
2021-02-28    1984
2020-04-30    1984
2020-05-31    1971
2020-11-30    1958
2020-10-31    1951
2021-03-31    1945
2020-03-31    1932
2020-07-31    1905
2020-09-30    1901
2020-06-30    1900
2020-08-31    1900
Name: End Date, dtype: int64

In [32]:
deaths_state_grouped= deaths_df.groupby('State')

In [34]:
deaths_state_grouped.sum('Covid-19 Deaths')

                      COVID-19 Deaths
State
Alabama                       59263.0
Alaska                         3479.0
Arizona                       69231.0
Arkansas                      42815.0
California                    97887.0
Colorado                      42786.0
Connecticut                   40549.0
Delaware                      15374.0
District of Columbia          15545.0
Florida                       87325.0
Georgia                       76197.0
Hawaii                         5326.0
Idaho                         20167.0
Illinois                      71433.0
Indiana                       54614.0
Iowa                          36939.0
Kansas                        35538.0
Kentucky                      45397.0
Louisiana                     57743.0
Maine                         10106.0
Maryland                      56125.0
Massachusetts                 47079.0
Michigan                      61122.0
Minnesota                     41926.0
Mississippi                   51461.0
Missouri                      52015.0
Montana                       17031.0
Nebraska                      25151.0
Nevada                        43446.0
New Hampshire                 13863.0
New Jersey                    68817.0
New Mexico                    37076.0
New York                      62196.0
New York City                 65770.0
North Carolina                43497.0
North Dakota                  17050.0
Ohio                          64270.0
Oklahoma                      48161.0
Oregon                        22993.0
Pennsylvania                  66978.0
Puerto Rico                   22104.0
Rhode Island                  23762.0
South Carolina                51838.0
South Dakota                  20090.0
Tennessee                     58352.0
Texas                        101044.0
Utah                          24911.0
Vermont                        2298.0
Virginia                      56297.0
Washington                    38883.0
West Virginia                 24841.0
Wisconsin                     42624.0
Wyoming                        7380.0

In [70]:
preevax = deaths_df.groupby('State').first()
preevax

                     Start Date    End Date  COVID-19 Deaths
State
Alabama              2020-01-01  2021-01-02              0.0
Alaska               2020-01-01  2021-01-02            317.0
Arizona              2020-01-01  2021-01-02              0.0
Arkansas             2020-01-01  2021-01-02              0.0
California           2020-01-01  2021-01-02             27.0
Colorado             2020-01-01  2021-01-02              0.0
Connecticut          2020-01-01  2021-01-02              0.0
Delaware             2020-01-01  2021-01-02             12.0
District of Columbia 2020-01-01  2021-01-02              0.0
Florida              2020-01-01  2021-01-02              0.0
Georgia              2020-01-01  2021-01-02             11.0
Hawaii               2020-01-01  2021-01-02            451.0
Idaho                2020-01-01  2021-01-02              0.0
Illinois             2020-01-01  2021-01-02              0.0
Indiana              2020-01-01  2021-01-02             10.0
Iowa                 2020-01-01  2021-01-02              0.0
Kansas               2020-01-01  2021-01-02              0.0
Kentucky             2020-01-01  2021-01-02              0.0
Louisiana            2020-01-01  2021-01-02             18.0
Maine                2020-01-01  2021-01-02            857.0
Maryland             2020-01-01  2021-01-02             20.0
Massachusetts        2020-01-01  2021-01-02              0.0
Michigan             2020-01-01  2021-01-02              0.0
Minnesota            2020-01-01  2021-01-02              0.0
Mississippi          2020-01-01  2021-01-02              0.0
Missouri             2020-01-01  2021-01-02              0.0
Montana              2020-01-01  2021-01-02              0.0
Nebraska             2020-01-01  2021-01-02              0.0
Nevada               2020-01-01  2021-01-02              0.0
New Hampshire        2020-01-01  2021-01-02              0.0
New Jersey           2020-01-01  2021-01-02             24.0
New Mexico           2020-01-01  2021-01-02              0.0
New York             2020-01-01  2021-01-02             23.0
New York City        2020-01-01  2021-01-02             18.0
North Carolina       2020-01-01  2021-01-02              0.0
North Dakota         2020-01-01  2021-01-02              0.0
Ohio                 2020-01-01  2021-01-02             14.0
Oklahoma             2020-01-01  2021-01-02             28.0
Oregon               2020-01-01  2021-01-02              0.0
Pennsylvania         2020-01-01  2021-01-02              0.0
Puerto Rico          2020-01-01  2021-01-02              0.0
Rhode Island         2020-01-01  2021-01-02              0.0
South Carolina       2020-01-01  2021-01-02              0.0
South Dakota         2020-01-01  2021-01-02              0.0
Tennessee            2020-01-01  2021-01-02             10.0
Texas                2020-01-01  2021-01-02             12.0
Utah                 2020-01-01  2021-01-02              0.0
Vermont              2020-01-01  2021-01-02            223.0
Virginia             2020-01-01  2021-01-02              0.0
Washington           2020-01-01  2021-01-02              0.0
West Virginia        2020-01-01  2021-01-02              0.0
Wisconsin            2020-01-01  2021-01-02              0.0
Wyoming              2020-01-01  2021-01-02            621.0

In [44]:
prevax= deaths_df[deaths_df['End Date']<='2021-01-02'].groupby('State').sum('Covid-19 Deaths')

In [51]:
prevax

                      COVID-19 Deaths
State
Alabama                       59263.0
Alaska                         3479.0
Arizona                       69231.0
Arkansas                      42815.0
California                    97887.0
Colorado                      42786.0
Connecticut                   40549.0
Delaware                      15374.0
District of Columbia          15545.0
Florida                       87325.0
Georgia                       76197.0
Hawaii                         5326.0
Idaho                         20167.0
Illinois                      71433.0
Indiana                       54614.0
Iowa                          36939.0
Kansas                        35538.0
Kentucky                      45397.0
Louisiana                     57743.0
Maine                         10106.0
Maryland                      56125.0
Massachusetts                 47079.0
Michigan                      61122.0
Minnesota                     41926.0
Mississippi                   51461.0
Missouri                      52015.0
Montana                       17031.0
Nebraska                      25151.0
Nevada                        43446.0
New Hampshire                 13863.0
New Jersey                    68817.0
New Mexico                    37076.0
New York                      62196.0
New York City                 65770.0
North Carolina                43497.0
North Dakota                  17050.0
Ohio                          64270.0
Oklahoma                      48161.0
Oregon                        22993.0
Pennsylvania                  66978.0
Puerto Rico                   22104.0
Rhode Island                  23762.0
South Carolina                51838.0
South Dakota                  20090.0
Tennessee                     58352.0
Texas                        101044.0
Utah                          24911.0
Vermont                        2298.0
Virginia                      56297.0
Washington                    38883.0
West Virginia                 24841.0
Wisconsin                     42624.0
Wyoming                        7380.0

In [53]:
postvax = deaths_df[deaths_df["End Date"] >= '2021-01-02'].groupby('State').sum('Covid-19 Deaths')

In [54]:
postvax

                      COVID-19 Deaths
State
Alabama                       59263.0
Alaska                         3479.0
Arizona                       69231.0
Arkansas                      42815.0
California                    97887.0
Colorado                      42786.0
Connecticut                   40549.0
Delaware                      15374.0
District of Columbia          15545.0
Florida                       87325.0
Georgia                       76197.0
Hawaii                         5326.0
Idaho                         20167.0
Illinois                      71433.0
Indiana                       54614.0
Iowa                          36939.0
Kansas                        35538.0
Kentucky                      45397.0
Louisiana                     57743.0
Maine                         10106.0
Maryland                      56125.0
Massachusetts                 47079.0
Michigan                      61122.0
Minnesota                     41926.0
Mississippi                   51461.0
Missouri                      52015.0
Montana                       17031.0
Nebraska                      25151.0
Nevada                        43446.0
New Hampshire                 13863.0
New Jersey                    68817.0
New Mexico                    37076.0
New York                      62196.0
New York City                 65770.0
North Carolina                43497.0
North Dakota                  17050.0
Ohio                          64270.0
Oklahoma                      48161.0
Oregon                        22993.0
Pennsylvania                  66978.0
Puerto Rico                   22104.0
Rhode Island                  23762.0
South Carolina                51838.0
South Dakota                  20090.0
Tennessee                     58352.0
Texas                        101044.0
Utah                          24911.0
Vermont                        2298.0
Virginia                      56297.0
Washington                    38883.0
West Virginia                 24841.0
Wisconsin                     42624.0
Wyoming                        7380.0