In [2]:
import pandas as pd
import numpy as np

In [3]:
#import the covid deaths csv
deaths_df = pd.read_csv('deaths.csv')
list(deaths_df.columns)

/Users/justinobrien/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['Data As Of',
 'Start Date',
 'End Date',
 'Group',
 'Year',
 'Month',
 'State',
 'Sex',
 'Age Group',
 'COVID-19 Deaths',
 'Total Deaths',
 'Pneumonia Deaths',
 'Pneumonia and COVID-19 Deaths',
 'Influenza Deaths',
 'Pneumonia, Influenza, or COVID-19 Deaths',
 'Footnote']

In [4]:
deaths_df = deaths_df.drop(['Sex','Total Deaths', 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths','Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths','Footnote', 'Age Group', 'Year', 'Month'], axis=1)

In [5]:
deaths_df = deaths_df.loc[(deaths_df['State'] != 'United States')]
deaths_df.head()

    Data As Of  Start Date    End Date     Group    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0

In [6]:
deaths_df = deaths_df.drop(['Group'], axis = 1)
deaths_df.head()

    Data As Of  Start Date    End Date    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  Alabama               0

In [7]:
deaths_df = deaths_df.drop(['Data As Of'], axis=1)

In [8]:
deaths_df.to_csv('state_deaths.csv')

In [14]:
deaths_df = deaths_df.dropna()
deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38912 entries, 51 to 52319
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Start Date       38912 non-null  object
 1   End Date         38912 non-null  object
 2   State            38912 non-null  object
 3   COVID-19 Deaths  38912 non-null  object
dtypes: object(4)
memory usage: 1.5+ MB

In [18]:
deaths_df[['Start Date','End Date']] = deaths_df[['Start Date', 'End Date']].apply(pd.to_datetime)

In [24]:
deaths_df['COVID-19 Deaths'] = deaths_df['COVID-19 Deaths'].astype('float64')

ValueError: could not convert string to float: '10,334'