In [1]:
import pandas as pd
import numpy as np

In [12]:
#import the covid deaths csv
deaths_df = pd.read_csv('deaths.csv')
list(deaths_df.columns)

['Data As Of',
 'Start Date',
 'End Date',
 'Group',
 'Year',
 'Month',
 'State',
 'Sex',
 'Age Group',
 'COVID-19 Deaths',
 'Total Deaths',
 'Pneumonia Deaths',
 'Pneumonia and COVID-19 Deaths',
 'Influenza Deaths',
 'Pneumonia, Influenza, or COVID-19 Deaths',
 'Footnote']

In [34]:
deaths_df = deaths_df.drop(['Sex','Total Deaths', 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths','Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths','Footnote', 'Age Group', 'Year', 'Month'], axis=1)

KeyError: "['Sex' 'Total Deaths' 'Pneumonia Deaths' 'Pneumonia and COVID-19 Deaths'\n 'Influenza Deaths' 'Pneumonia, Influenza, or COVID-19 Deaths' 'Footnote'\n 'Age Group'] not found in axis"

In [32]:
deaths_df = deaths_df.loc[(deaths_df['State'] != 'United States')]
deaths_df.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,COVID-19 Deaths
51,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,Alabama,"10,334"
52,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,Alabama,NaN
53,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,Alabama,NaN
54,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,Alabama,0
55,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,Alabama,0

In [38]:
deaths_df = deaths_df.drop(['Group'], axis = 1)
deaths_df.head()

    Data As Of  Start Date    End Date    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  Alabama               0

In [40]:
deaths_df = deaths_df.drop(['Data As Of'], axis=1)

In [ ]:
deaths_df.to_csv()