In [1]:
#import dependencies
import pandas as pd

In [3]:
#read in  data
data_df = pd.read_csv("Resources/Clean_Data.csv")

In [4]:
data_df

,Unnamed: 0,Week-Ending Date,HHS Region,COVID-19 Deaths,Race and Hispanic Origin Group_Hispanic,Race and Hispanic Origin Group_Non-Hispanic American Indian or Alaska Native,Race and Hispanic Origin Group_Non-Hispanic Asian,Race and Hispanic Origin Group_Non-Hispanic Black,Race and Hispanic Origin Group_Non-Hispanic More than one race,Race and Hispanic Origin Group_Non-Hispanic Native Hawaiian or Other Pacific Islander,Race and Hispanic Origin Group_Non-Hispanic White
0,4896,2020-01-04,1,0.0,1,0,0,0,0,0,0
1,4897,2020-01-04,1,0.0,1,0,0,0,0,0,0
2,4898,2020-01-04,1,0.0,1,0,0,0,0,0,0
3,4899,2020-01-04,1,0.0,1,0,0,0,0,0,0
4,4900,2020-01-04,1,0.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
42835,53842,2021-04-17,10,0.0,0,0,0,0,0,0,1
42836,53843,2021-04-17,10,NaN,0,0,0,0,0,0,1
42837,53844,2021-04-17,10,NaN,0,0,0,0,0,0,1
42838,53845,2021-04-17,10,NaN,0,0,0,0,0,0,1
42839,53846,2021-04-17,10,NaN,0,0,0,0,0,0,1